/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  padding: 0;
  margin: 0; }

.center {
  margin: 0 auto;
  width: 70%; }

.header {
  max-width: 100%;
  border-top: 10px solid #2ecc71;
  background-image: url(img/header_background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  margin: 0 auto;
  background-size: 100% auto;
  position: relative;
  width: 100%; }
  .header__left-wrapper {
    max-width: 45%;
    display: inline-block;
    padding: 0;
    vertical-align: middle; }
  .header__logo {
    font-family: 'Pacifico', cursive;
    font-size: 60px;
    letter-spacing: 2px;
    max-width: 50%;
    display: inline-block; }
  .header__heading {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 600; }
  .header__download {
    display: inline-block; }
    .header__download--mac {
      width: 50px;
      height: 50px;
      background-image: url("img/logoSprites.jpg");
      background-position: 0 -50px;
      transition: all .2s ease;
      border-radius: 50%; }
      .header__download--mac:hover {
        background-position: 0 0; }
    .header__download--android {
      width: 50px;
      height: 50px;
      background-image: url("img/logoSprites.jpg");
      background-position: -50px -50px;
      transition: all .2s ease;
      border-radius: 50%; }
      .header__download--android:hover {
        background-position: -50px 0px; }
    .header__download--windows {
      width: 50px;
      height: 50px;
      background-image: url("img/logoSprites.jpg");
      background-position: -100px -50px;
      transition: all .2s ease;
      border-radius: 50%;
      display: inline-block; }
      .header__download--windows:hover {
        background-position: -100px 0; }
  .header__app {
    max-width: 55%;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10vw; }

#period {
  color: #2ecc71; }

.features__list {
  list-style: none;
  margin-top: 3.5%;
  margin-bottom: 4%; }
.features__item {
  text-align: center;
  max-width: 30%;
  display: inline-block; }
.features__icon {
  width: 100px;
  height: 100px;
  display: inline-block; }
  .features__icon--gear {
    background-image: url("img/gear-icon.jpg");
    background-position: center; }
  .features__icon--star {
    background-image: url("img/star-icon.jpg");
    background-position: center; }
  .features__icon--globe {
    background-image: url("img/globe-icon.jpg");
    background-position: center; }
.features__heading {
  font-family: 'Raleway',serif;
  font-size: 22px;
  font-weight: 600;
  color: #222222; }
.features__desc {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #848484;
  line-height: 26px; }

.cta {
  background-color: #e3e3e3;
  width: 100%; }
  .cta__content {
    display: inline-block;
    max-width: 33%;
    vertical-align: top;
    margin-right: 4%;
    margin-left: 13%;
    margin-top: 2%;
    margin-bottom: 8.5%; }
  .cta__heading {
    font-family: 'Raleway',serif;
    font-size: 22px;
    font-weight: 600;
    color: #222222; }
  .cta__desc {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px;
    color: #848484; }
  .cta__input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    border: 1px solid #ccc;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 4% 16.2%;
    margin-right: 0;
    display: inline-block;
    vertical-align: middle; }
  .cta__button {
    background-color: #2ecc71;
    font-family: "Raleway",serif;
    font-weight: 800;
    font-size: 22px;
    color: #fff;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 3% 6%;
    margin-left: 0;
    display: inline-block;
    vertical-align: middle; }
  .cta__video {
    display: inline-block;
    max-width: 32%;
    vertical-align: top;
    margin-left: 4%;
    margin-right: 13%;
    margin-top: 3.5%;
    border: none;
    border-radius: 10px; }

.company {
  text-align: center; }
  .company__quote {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    color: #848484;
    max-width: 50%;
    margin: 0 auto; }
  .company__people {
    list-style: none; }
  .company__person {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block; }
    .company__person:hover #overlay {
      opacity: 1; }
    .company__person--IgnacioNader {
      background-image: url("img/people/1.jpg"); }
    .company__person--GarrickKoch {
      background-image: url("img/people/2.jpg"); }
    .company__person--JordaneAbernathy {
      background-image: url("img/people/3.jpg"); }
    .company__person--ClintJast {
      background-image: url("img/people/4.jpg"); }
    .company__person--DaveBayer {
      background-image: url("img/people/5.jpg"); }
    .company__person--AshlyDurgan {
      background-image: url("img/people/6.jpg"); }
    .company__person--MinervaDare {
      background-image: url("img/people/7.jpg"); }
    .company__person--DanikaLittel {
      background-image: url("img/people/8.jpg"); }
    .company__person--KipSchinner {
      background-image: url("img/people/9.jpg"); }
    .company__person--AdanKemmer {
      background-image: url("img/people/10.jpg"); }
    .company__person--ArmandoLang {
      background-image: url("img/people/11.jpg"); }
    .company__person--MckennaSchmeler {
      background-image: url("img/people/12.jpg"); }
    .company__person--FletaMcKenzie {
      background-image: url("img/people/13.jpg"); }
    .company__person--EliezerMedhurst {
      background-image: url("img/people/14.jpg"); }
    .company__person--GunnarKoelpin {
      background-image: url("img/people/15.jpg"); }
    .company__person--BradleyStark {
      background-image: url("img/people/16.jpg"); }
    .company__person--BentonHane {
      background-image: url("img/people/17.jpg"); }
    .company__person--JulioBailey {
      background-image: url("img/people/18.jpg"); }

#overlay {
  background: rgba(46, 204, 113, 0.75);
  text-align: center;
  padding: 25px 25px;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease; }

.social {
  text-align: center; }
  .social__heading {
    font-family: "Raleway",serif;
    font-weight: 800;
    font-size: 24px; }
  .social__desc {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300; }
  .social__icon {
    width: 100px;
    height: 100px;
    display: inline-block; }
    .social__icon--twitter {
      width: 36px;
      height: 36px;
      background-image: url("img/social-sprites.jpg");
      background-position: 0 0;
      transition: all .2s ease;
      border-radius: 50%; }
      .social__icon--twitter:hover {
        background-position: 0px -36px; }
    .social__icon--facebook {
      width: 36px;
      height: 36px;
      background-image: url("img/social-sprites.jpg");
      background-position: -36px 0;
      transition: all .2s ease;
      border-radius: 50%; }
      .social__icon--facebook:hover {
        background-position: -36px -36px; }
    .social__icon--pinterest {
      width: 36px;
      height: 36px;
      background-image: url("img/social-sprites.jpg");
      background-position: -72px 0;
      transition: all .2s ease;
      border-radius: 50%; }
      .social__icon--pinterest:hover {
        background-position: -72px -36px; }
    .social__icon--google {
      width: 36px;
      height: 36px;
      background-image: url("img/social-sprites.jpg");
      background-position: -108px 0;
      transition: all .2s ease;
      border-radius: 50%; }
      .social__icon--google:hover {
        background-position: -108px -36px; }
    .social__icon--linkdin {
      width: 36px;
      height: 36px;
      background-image: url("img/social-sprites.jpg");
      background-position: -144px 0;
      transition: all .2s ease;
      border-radius: 50%; }
      .social__icon--linkdin:hover {
        background-position: -144px -36px; }
    .social__icon--youtube {
      width: 36px;
      height: 36px;
      background-image: url("img/social-sprites.jpg");
      background-position: -180px 0;
      transition: all .2s ease;
      border-radius: 50%; }
      .social__icon--youtube:hover {
        background-position: -180px -36px; }

.footer {
  background-color: #e3e3e3;
  width: 100%;
  padding-top: 4%;
  padding-bottom: 4%; }
  .footer__link {
    text-align: center;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #848484;
    margin: 10% 0; }

/*# sourceMappingURL=styles.css.map */
