/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0; }

.center {
  width: 70%;
  margin: 0 auto; }

.header {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  color: #fff;
  border-top: 10px solid #2ecc71;
  background-image: url(img/header_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto; }
  .header__left-wrapper {
    display: inline-block;
    max-width: 44%;
    padding: 0;
    vertical-align: middle; }
  .header__logo {
    display: inline-block;
    max-width: 50%;
    letter-spacing: 2px;
    font-family: 'Pacifico', cursive;
    font-size: 60px; }
  .header__heading {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 22px;
    font-weight: 600; }
  .header__download {
    display: inline-block; }
    .header__download--mac {
      width: 50px;
      height: 50px;
      transition: all .2s ease;
      border-radius: 50%;
      background-image: url("img/logoSprites.jpg");
      background-position: 0 -50px; }
      .header__download--mac:hover {
        background-position: 0 0; }
    .header__download--android {
      width: 50px;
      height: 50px;
      transition: all .2s ease;
      border-radius: 50%;
      background-image: url("img/logoSprites.jpg");
      background-position: -50px -50px; }
      .header__download--android:hover {
        background-position: -50px 0px; }
    .header__download--windows {
      display: inline-block;
      width: 50px;
      height: 50px;
      transition: all .2s ease;
      border-radius: 50%;
      background-image: url("img/logoSprites.jpg");
      background-position: -100px -50px; }
      .header__download--windows:hover {
        background-position: -100px 0; }
  .header__app {
    display: inline-block;
    max-width: 55%;
    height: auto;
    margin-top: 10vw;
    padding: 0;
    vertical-align: middle; }

#period {
  color: #2ecc71; }

@media screen and (max-width: 780px) {
  .header__app {
    display: none; }

  .header__left-wrapper {
    max-width: 100%;
    margin-bottom: 8%;
    text-align: center; } }
.features__list {
  margin-top: 3.5%;
  margin-bottom: 4%;
  list-style: none; }
.features__item {
  display: inline-block;
  max-width: 30%;
  text-align: center; }
.features__icon {
  display: inline-block;
  width: 100px;
  height: 100px; }
  .features__icon--gear {
    background-image: url("img/gear-icon.jpg");
    background-position: center; }
  .features__icon--star {
    background-image: url("img/star-icon.jpg");
    background-position: center; }
  .features__icon--globe {
    background-image: url("img/globe-icon.jpg");
    background-position: center; }
.features__heading {
  color: #222222;
  font-family: 'Raleway',serif;
  font-size: 22px;
  font-weight: 600; }
.features__desc {
  color: #848484;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 26px; }

@media screen and (max-width: 780px) {
  .features__list {
    padding: 0;
    text-align: center; }

  .features__item {
    max-width: 100%; }

  .features__desc {
    max-width: 65%;
    margin: 0 auto; }

  .features__heading {
    margin-bottom: 1%; }

  .features__icon {
    margin-top: 4%; } }
@media screen and (max-width: 390px) {
  .features__desc {
    max-width: 90%; } }
.cta {
  width: 100%;
  background-color: #e3e3e3; }
  .cta__content {
    display: inline-block;
    max-width: 33%;
    margin-top: 2%;
    margin-right: 4%;
    margin-bottom: 8.5%;
    margin-left: 13%;
    vertical-align: top; }
  .cta__heading {
    color: #222222;
    font-family: 'Raleway',serif;
    font-size: 22px;
    font-weight: 600; }
  .cta__desc {
    color: #848484;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 26px; }
  .cta__input {
    display: inline-block;
    width: 63%;
    height: 60px;
    margin-right: 0;
    padding: 4% 16.2%;
    padding: 0 7%;
    vertical-align: middle;
    border: 1px solid #ccc;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 3.3; }
  .cta__button {
    display: inline-block;
    height: 60px;
    padding: 0 6%;
    vertical-align: middle;
    color: #fff;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #2ecc71;
    font-family: "Raleway",serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 2.72; }
  .cta__video {
    display: inline-block;
    max-width: 32%;
    margin-top: 3.5%;
    margin-right: 13%;
    margin-left: 4%;
    vertical-align: top;
    border: none;
    border-radius: 10px; }

@media screen and (max-width: 780px) {
  .cta {
    text-align: center; }

  .cta__content {
    max-width: 100%; }

  .cta__desc {
    max-width: 80%;
    padding-bottom: 5%; }

  .cta__video {
    max-width: 100%;
    margin: 0;
    margin-bottom: 4%; } }
.company {
  text-align: center; }
  .company__quote {
    max-width: 30%;
    margin: 0 auto;
    padding: 2% 0%;
    color: #848484;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: italic; }
  .company__people {
    list-style: none; }
  .company__person-name {
    font-family: "Raleway",serif;
    font-size: 18px; }
  .company__person {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center; }
    .company__person:hover #overlay {
      opacity: 1; }
    .company__person--IgnacioNader {
      background-image: url("img/people/1.jpg"); }
    .company__person--GarrickKoch {
      background-image: url("img/people/2.jpg"); }
    .company__person--JordaneAbernathy {
      background-image: url("img/people/3.jpg"); }
    .company__person--ClintJast {
      background-image: url("img/people/4.jpg"); }
    .company__person--DaveBayer {
      background-image: url("img/people/5.jpg"); }
    .company__person--AshlyDurgan {
      background-image: url("img/people/6.jpg"); }
    .company__person--MinervaDare {
      background-image: url("img/people/7.jpg"); }
    .company__person--DanikaLittel {
      background-image: url("img/people/8.jpg"); }
    .company__person--KipSchinner {
      background-image: url("img/people/9.jpg"); }
    .company__person--AdanKemmer {
      background-image: url("img/people/10.jpg"); }
    .company__person--ArmandoLang {
      background-image: url("img/people/11.jpg"); }
    .company__person--MckennaSchmeler {
      background-image: url("img/people/12.jpg"); }
    .company__person--FletaMcKenzie {
      background-image: url("img/people/13.jpg"); }
    .company__person--EliezerMedhurst {
      background-image: url("img/people/14.jpg"); }
    .company__person--GunnarKoelpin {
      background-image: url("img/people/15.jpg"); }
    .company__person--BradleyStark {
      background-image: url("img/people/16.jpg"); }
    .company__person--BentonHane {
      background-image: url("img/people/17.jpg"); }
    .company__person--JulioBailey {
      background-image: url("img/people/18.jpg"); }

#overlay {
  padding: 25px 25px;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  text-align: center;
  opacity: 0;
  background: rgba(46, 204, 113, 0.75); }

.social {
  margin-bottom: 5%;
  text-align: center; }
  .social__heading {
    font-family: "Raleway",serif;
    font-size: 24px;
    font-weight: 800; }
  .social__desc {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300; }
  .social__icon {
    display: inline-block;
    width: 100px;
    height: 100px; }
    .social__icon--twitter {
      width: 36px;
      height: 36px;
      transition: all .2s ease;
      border-radius: 50%;
      background-image: url("img/social-sprites.jpg");
      background-position: 0 0; }
      .social__icon--twitter:hover {
        background-position: 0px -36px; }
    .social__icon--facebook {
      width: 36px;
      height: 36px;
      transition: all .2s ease;
      border-radius: 50%;
      background-image: url("img/social-sprites.jpg");
      background-position: -36px 0; }
      .social__icon--facebook:hover {
        background-position: -36px -36px; }
    .social__icon--pinterest {
      width: 36px;
      height: 36px;
      transition: all .2s ease;
      border-radius: 50%;
      background-image: url("img/social-sprites.jpg");
      background-position: -72px 0; }
      .social__icon--pinterest:hover {
        background-position: -72px -36px; }
    .social__icon--google {
      width: 36px;
      height: 36px;
      transition: all .2s ease;
      border-radius: 50%;
      background-image: url("img/social-sprites.jpg");
      background-position: -108px 0; }
      .social__icon--google:hover {
        background-position: -108px -36px; }
    .social__icon--linkdin {
      width: 36px;
      height: 36px;
      transition: all .2s ease;
      border-radius: 50%;
      background-image: url("img/social-sprites.jpg");
      background-position: -144px 0; }
      .social__icon--linkdin:hover {
        background-position: -144px -36px; }
    .social__icon--youtube {
      width: 36px;
      height: 36px;
      transition: all .2s ease;
      border-radius: 50%;
      background-image: url("img/social-sprites.jpg");
      background-position: -180px 0; }
      .social__icon--youtube:hover {
        background-position: -180px -36px; }

.footer {
  width: 100%;
  padding-top: 4%;
  padding-bottom: 4%;
  text-align: center;
  background-color: #e3e3e3; }
  .footer__link {
    margin: 10% 0;
    padding-right: 1.2%;
    padding-left: 1.2%;
    text-align: center;
    text-decoration: none;
    color: #848484;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px; }

/*# sourceMappingURL=styles.css.map */
